{% extends 'users/base.html' %}
{% load static %}
{% block content %}

<div class="big" style="margin-top: 150px;">

     	<div class="container">
     		<button class="btn"> course1</button>
        <button class="btn"> course2</button>
        <button class="btn"> course3</button>
        <button class="btn"> course4</button>
     		       <div class="bg-image">

                   </div>


     	            <div class="center">
     		         <h1> Welcome to worldclass</h1>
     		         <h2> hlo RR</h2>
     	           </div>
     	</div>

          <div class="course_title">
             <h1 >How Long Does it Take to Grow a Pineapple? Tips for Growing</h1>
          </div>

        <section class="introduction">
     	        <div class="intro">
     <!-- style="float:right; margin:25px 15px 5px 15px;" -->
                <div class="box_test">
                 <iframe src="https://www.youtube.com/embed/HJFxTsX0Ok0" width="400"  height="275" frameorder="0" allowfullscreen="allofullscreen" >
                 </iframe>
                </div>
              </div>
                <div class="intro">
                  <div class="box_test">

                    <p>        Is it hard to grow pineapples?  How long does it take?  There is nothing better than eating fresh pineapple; the juicy bite and sweet taste.  It is a versatile fruit and can be used in many dishes. It also makes a great houseplant.   Let’s find out to grow them and how long it takes so you can get started growing your own.</p>
                    <p>
                    1. What is polymorphism?
Ans.: Polymorphism in Java is a concept by which we can perform a single action in different ways. Polymorphism is derived from 2 Greek words: poly and morphs. The word "poly" means many and "morphs" means forms. So polymorphism means many form.

2. List and explain types of polymorphism.
Ans.:There are two types of polymorphism in java:
1) Static Polymorphism also known as compile time polymorphism
2) Dynamic Polymorphism also known as runtime polymorphism
1.Compile time Polymorphism (or Static polymorphism)
Polymorphism that is resolved during compiler time is known as static polymorphism. Method overloading is an example of compile time polymorphism.

</p>
               </div>
             </div>

             </section>

               <div class="text1">
                    <h1 >Cource Overview</h1>
                    <p>        Is it hard to grow pineapples?  How long does it take?  There is nothing better than eating fresh pineapple; the juicy bite and sweet taste.  It is a versatile fruit and can be used in many dishes. It also makes a great houseplant.   Let’s find out to grow them and how long it takes so you can get started growing your own.</p>

                </div>





<!--
     <nav>

     		<div class="drop-btn">
     			Topics<span class="fas fa-caret-down"></span>

     		</div>
     		<div class="wrapper">
     			<ul class="menu-bar">
     				<li><a href="#">
     					<div class="icon"><span class="fas fa-book"></span>
     						topic1
     					</div>
     				</a></li>
     				<li><a href="#">
     					<div class="icon"><span class="fas fa-book"></span>
     						topic2
     					</div>
     				</a></li>
     				<li><a href="#">
     					<div class="icon"><span class="fas fa-book"></span>
     						topic3
     					</div>
     				</a></li>
     				<li><a href="#">
     					<div class="icon"><span class="fas fa-book"></span>
     						topic4<i class="fas fa-angle-right"></i>
     					</div>
     				</a></li>
     			</ul>



     		</div>

     		<div class="drop-btn">
     			Topics<span class="fas fa-caret-down"></span>

     		</div>
     		<div class="wrapper">
     			<ul class="menu-bar">
     				<li><a href="#">
     					<div class="icon"><span class="fas fa-book"></span>
     						topic1
     					</div>
     				</a></li>
     				<li><a href="#">
     					<div class="icon"><span class="fas fa-book"></span>
     						topic2
     					</div>
     				</a></li>
     				<li><a href="#">
     					<div class="icon"><span class="fas fa-book"></span>
     						topic3
     					</div>
     				</a></li>
     				<li><a href="#">
     					<div class="icon"><span class="fas fa-book"></span>
     						topic4<i class="fas fa-angle-right"></i>
     					</div>
     				</a></li>
     			</ul>



     		</div>

     		<div class="drop-btn">
     			Topics<span class="fas fa-caret-down"></span>

     		</div>
     		<div class="wrapper">
     			<ul class="menu-bar">
     				<li><a href="#">
     					<div class="icon"><span class="fas fa-book"></span>
     						topic1
     					</div>
     				</a></li>
     				<li><a href="#">
     					<div class="icon"><span class="fas fa-book"></span>
     						topic2
     					</div>
     				</a></li>
     				<li><a href="#">
     					<div class="icon"><span class="fas fa-book"></span>
     						topic3
     					</div>
     				</a></li>
     				<li><a href="#">
     					<div class="icon"><span class="fas fa-book"></span>
     						topic4<i class="fas fa-angle-right"></i>
     					</div>
     				</a></li>
     			</ul>



     		</div>
       </nav>

  -->

       <button class="btn"> Register</button>




</div>




       <div class="header">
     		<h1> Hear what our customer say</h1>
       </div>

  <section class="testimonials">
     	<div class="cont">
     	   <div class="card card-1">
     	   	  <img src="a1.jpg" alt="">
     	   	  <i class="fas fa-quote-left"></i>
     	   	  <p>Is it hard to grow pineapples?  How long does it take?  There is nothing better than eating fresh pineapple; the juicy bite and sweet taste.  It is a versatile fruit and can be used in many dishes. It also makes a great houseplant.</p>
     	   	  <p class="name">Shivani K</p>
     	   	  <p class="job">Student</p>
     	   	  <i class="fas fa-star"></i>
     	   	  <i class="fas fa-star"></i>
     	   	  <i class="fas fa-star"></i>
     	   	  <i class="fas fa-star"></i>
     	   	  <i class="fas fa-star"></i>
     	   </div>

     	   <div class="card card-1">
     	   	  <img src="a2.jpg" alt="">
     	   	  <i class="fas fa-quote-left"></i>
     	   	  <p>Is it hard to grow pineapples?  How long does it take?  There is nothing better than eating fresh pineapple; the juicy bite and sweet taste.  It is a versatile fruit and can be used in many dishes. It also makes a great houseplant.</p>
     	   	  <p class="name">Ruchika A</p>
     	   	  <p class="job">Student</p>
     	   	  <i class="fas fa-star"></i>
     	   	  <i class="fas fa-star"></i>
     	   	  <i class="fas fa-star"></i>
     	   	  <i class="fas fa-star"></i>
     	   	  <i class="fas fa-star-half-alt"></i>
     	   </div>

     	   <div class="card card-1">
     	   	  <img src="a1.jpg" alt="">
     	   	  <i class="fas fa-quote-left"></i>
     	   	  <p>Is it hard to grow pineapples?  How long does it take?  There is nothing better than eating fresh pineapple; the juicy bite and sweet taste.  It is a versatile fruit and can be used in many dishes. It also makes a great houseplant.</p>
     	   	  <p class="name">Selina K</p>
     	   	  <p class="job">Student</p>
     	   	  <i class="fas fa-star"></i>
     	   	  <i class="fas fa-star"></i>
     	   	  <i class="fas fa-star"></i>
     	   	  <i class="fas fa-star"></i>
     	   	  <i class="fas fa-star"></i>
     	   </div>
     	 </div>
  </section>

     	 <div class="msg">

     	 	<img src="a3.jpg" alt="">

     	 	<p><b>House plant
     	 	Is it hard to grow pineapples?  How long does it take?  There is nothing better than eating fresh pineapple; the juicy bite and sweet taste.  It is a versatile fruit and can be used in many dishes. It also makes a great houseplant.
     	 	Is it hard to grow pineapples?  How long does it take?  There is nothing better than eating fresh pineapple; the juicy bite and sweet taste.  It is a versatile fruit and can be used in many dishes. It also makes a great houseplant.Is it hard to grow pineapples?  How long does it take?  There is nothing better than eating fresh pineapple; the juicy bite and sweet taste.  It is a versatile fruit and can be used in many dishes. It also makes a great houseplant.
     	 </b>


     	 </p>



        </div>

<!--FAQ section-->
  <div class="accordion">
  <h2>Frequently asked questions</h2>
  <div class="item">
    <div class="question">
      What is object in javascript?
    </div>
    <div class="answer">
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut quo sequi accusantium praesentium a rem in, ex nobis molestiae, debitis nulla fugiat reprehenderit molestias accusamus adipisci suscipit libero tempora. Odit!</p>
    </div>
  </div>
  <div class="item">
    <div class="question">
      How do you create an object in javascript?
    </div>
    <div class="answer">
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut quo sequi accusantium praesentium a rem in, ex nobis molestiae, debitis nulla fugiat reprehenderit molestias accusamus adipisci suscipit libero tempora. Odit!</p>
    </div>
  </div>
  <div class="item">
    <div class="question">
      How many types of objects can be created in javascript?
    </div>
    <div class="answer">
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut quo sequi accusantium praesentium a rem in, ex nobis molestiae, debitis nulla fugiat reprehenderit molestias accusamus adipisci suscipit libero tempora. Odit!</p>
    </div>
  </div>
  <div class="item">
    <div class="question">
      How to detect object is empty or not in javascript?
    </div>
    <div class="answer">
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut quo sequi accusantium praesentium a rem in, ex nobis molestiae, debitis nulla fugiat reprehenderit molestias accusamus adipisci suscipit libero tempora. Odit!</p>
    </div>
  </div>
  <div class="item">
    <div class="question">
      What is difference between object and class in javascript?
    </div>
    <div class="answer">
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut quo sequi accusantium praesentium a rem in, ex nobis molestiae, debitis nulla fugiat reprehenderit molestias accusamus adipisci suscipit libero tempora. Odit!</p>
    </div>
  </div>
</div>

     	<!--  <script src="web2.js">
        </script>
-->

<script>

/*Testimation*/
const drop_btn = document.querySelector(".drop-btn");
       	const menu_wrapper = document.querySelector(".wrapper");
        drop_btn.onclick = (()=>{
        	menu_wrapper.classList.toggle("show");

          }	);

  /*FAQ section*/
 let accordion = document.querySelector(".accordion");
let accordionItems = accordion.querySelectorAll(".item");

for(let i=0;i<accordionItems.length;i++){
  let questionItem = accordionItems[i].querySelector(".question");
  questionItem.addEventListener("click",function(){
    if(accordionItems[i].classList.contains("active")){
      accordionItems[i].classList.remove("active");
    } else {
      try {
        accordion.querySelector(".active").classList.remove("active");
      } catch(msg){}
      accordionItems[i].classList.add("active");
    }
  });
}


</script>


{% endblock content %}